<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito'
  : 'estadoNoFavorito'">
  <img class="card-img-top" src="https://placeimg.com/380/230/nature" alt="Card
    image cap">
  <div class="card-body">
    <h5 class="card-title">{{position}}</h5>
    <p class="card-text">Destinos</p>
    <ul>
      <li *ngFor='let i of destino.servicios'>
        <span [ngSwitch]='i'>
          <i *ngSwitchCase="'desayuno'" style="color: aquamarine;">{{i}}</i>
          <i *ngSwitchDefault>{{i}}</i>
        </span>
      </li>
    </ul>
    <div>
      <a href="#" (click)="voteUp()" appTrackearClick
        data-trackear-tags="destino_vote_up lista_deseos_item">
        <i class="material-icons md-18">thumb_up</i>
      </a>
      <a href="#" (click)="voteDown()" appTrackearClick
        data-trackear-tags="destino_vote_down lista_deseos_item">
        <i class="material-icons md-18">thumb_down</i>
      </a>
      Votos: {{destino.votes}}
    </div>
    <a href="#" class="btn btn-primary" (click)="ir()" appTrackearClick
      data-trackear-tags="destino_elegir_preferido lista_destinos_item">Ir!</a>
    <span *ngIf="destino.isSelected()">
      <span ngNonBindable>{{ PREFERIDO! }}</span>
    </span>
    <a [routerLink]="['/destino', destino.id]">Destino</a>
  </div>
</div>
