<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value,fg.controls['url'].value)"
    >
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre..."
        [formControl]="fg.controls['nombre']"> 
        <ul>
            <li *ngFor="let r of searchResult;">{{r}}</li>
        </ul>
        <div *ngIf="fg.controls['nombre'].hasError('required')">nombre*</div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">nombre invalido!</div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">nombre debe de tener almenos {{minLongitudNom}} de largo!</div>
    </div>
    <div class="form-group">
        <label for="Imagen URL"  >Imagen URL</label>
        <input type="text" class="form-control" id="imagenURL" placeholder="Ingrese imagen..." 
        [formControl]="fg.controls['url']">
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar</button>
</form>
